page-aceites {
    .scroll-content{
        background-color: map-get($colors, primary);
        color: map-get($colors, secondary);
        ion-grid{
            border: 1px solid map-get($colors, secondary);
            padding: 1rem;
            border-radius: 8px;
            margin-bottom: 10px;
            .input-cover{
                background-color: transparent;
            }

        }
    }
}
